*{
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url('img/bg-3.png');

    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
    background-position:center center;
}