<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet">    <link rel="stylesheet" href="style.css">
    <title>Dietary Analysis System</title>
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark" >
        <img src="img/logo.png" height="120px" alt="Logo">
    </nav>

    <div class="container" style="padding-top:50px">
        <div class="col d-flex justify-content-center ">
            <div class="card shadow-lg p-3 mb-5 " style="width: 500px; border-radius: 50px; border:0px">
                <h3 class="m-3 text-center" >Welcome to <br> Dietary Analysis System</h3>
                <img src="img/diet.png" alt="Diet" class="img-fluid m-4">
                <div class="d-flex justify-content-center">
                    <a type="submit" name="start" id="start" href="evaluate" class="btn btn-primary">Start Evaluation</a>
                </div>
                <p class="text-center p-3">Learn more <a href="evaluate">here</a> </p>
            </div>
        </div>
    </div>

</body>
</html>